body {
  min-height: 100vh;
}

.app_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  column-gap: 4px;
}

.team_container {
  grid-column: span 5 / span 5;
  display: flex;
  width: 100%;
  row-gap: 4px;
  flex-direction: column;
}

.score_container {
  grid-column: span 2 / span 2;
  display: flex;
  width: 100%;
  row-gap: 4px;
  flex-direction: column;
}

.picks_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  column-gap: 4px;
}

.group {
  border-right: 8px solid red;
  display: flex;
  border-left: 8px solid green;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.picks_image_container {
  grid-column: span 1 / span 1;
  height: 200px;
  background-color: green;
}

.banners_container {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  column-gap: 4px;
}

.banner_image_container {
  grid-column: span 1 / span 1;
  height: 50px;
  background-color: green;
}

.stats_container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 152px;
}

.logo-container {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.team-container {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.team_name {
  font-size: 32px;
}

.banner_image_container img,
.picks_image_container img {
  width: 100%;
  height: 100%;
}
